@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Monoton|Poiret+One|Roboto&display=swap');

* {
    box-sizing: border-box;
}

html {
    color: -internal-root-color;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: hsl(0, 0%, 98%);
    line-height: 1;
    display: block;
    font-family: Poiret One, sans-serif;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% auto 10%;
    min-height: 100vh;
}

.nav {
    background-color: hsla(201, 100%, 14%, 90%);
    padding: 1rem;
    min-height: 100vh;
    position: fixed;
    box-shadow: 0 3px 5px #ccc;
    transform: translateX(-100%);
    transition: all 0.5s;
}

.logo-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    justify-self: left;
    padding-left: 1rem;
    color: #003049;
    text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white;
    font-family: Monoton, serif;
}

.menu {
    display: inline-block;
    background: none;
    border: none;
    color: black;
    height: 0.9rem;
    justify-self: right;
    cursor: pointer;
}

.open {
    transform: translateX(0);
}

.menu:focus {
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: none;
}

.dashboard-header {
    color: #d05353;
    grid-column: 1/6;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-weight: 450;
    font-size: 1.6rem;
}

.artist-name-header {
    grid-column: 1/6;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    color: #006e90;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: Cinzel Decorative, sans-serif;
}

.easter-egg-holder {
    grid-column: 5/6;
    grid-row: 5/6;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: flex-end;
}

.easter-egg {
    cursor: default;
    border-image: auto;
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 0.3rem;
    margin-right: 1rem;
    height: 10.5px;
    width: 7.5px;
    border-radius: 50%;
    background-color: hsla(31, 100%, 48%, 0.345);
    align-self: flex-end;
}

.inner-menu {
    grid-column: 1/6;
    grid-row: 3/4;
    align-self: center;
    text-align: start;
    display: flex;
    justify-content: space-around;
}

.inner-menu-header {
    font-weight: 525;
    color: #f77f00;
    padding-right: 2rem;
    font-size: 1.4rem;
    background-color: hsl(0, 0%, 98%);
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    font-family: Poiret One, sans-serif;
}

.inner-menu-header:hover, .inner-menu-header:focus {
    color: #fcbf49;
    outline: none;
    outline-color: none;
    outline-style: none;
    outline-width: none;
}

.menu-item-container {
    grid-column: 1/6;
    grid-row: 4/5;
    text-align: center;
}

#venues-container {
    display: grid;
}

#messages-container {
    display: none;
    font-size: 5rem;
    padding-top: 3rem;
    color: #003049;
}

#calendar-container {
    display: none;
}

#payments-container {
    display: none;
    font-size: 5rem;
    padding-top: 3rem;
    color: #003049;
}

#buyers-container {
    display: none;
}

p {
    display: block;
    padding: 0.2rem;
}

.nav-list{
    margin: 0;
    padding: 0 0 0 10px;
    justify-content: center;
    list-style: none;
}

.nav-button {
    padding: 1.25rem 0.5rem;
    margin: calc(100%/5) 0;
    font-size: 1rem;
    min-width: 100%;
    max-width: 120%;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    color: white;
    background-color: rgba(0, 238, 255, 0.5);
    font-family: Poiret One, sans-serif;
}

.nav-button:hover, .nav-button:focus {
    background: rgba(0, 231, 247, 0.728);
    color: white;
}

.new-venue-form, .update-venue-form {
    margin: 0.5rem 1rem;
    display: flex;
}

.new-venue-form input[type=submit] {
    background-color: hsl(0, 0%, 98%);
    color: black;
    border-style: none;
    border-width: 0;
    padding: auto;
    font-family: FontAwesome;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.update-venue-form input[type=submit] {
    background-color: hsl(0, 0%, 98%);
    color: black;
    border-style: none;
    border-width: 0;
    padding: auto;
    font-family: FontAwesome;
    font-size: 1.3rem;
    cursor: pointer;
}

.venue-name-input {
    border: none;
    background-color: rgba(235, 235, 235, 0.221);
    padding-top: 1.2rem;
    padding-left: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: hsla(197, 3%, 53%, 0.386);
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
    width: 150px;
    height: 44px;
    z-index: 1;
}

.venue-description-input {
    border: none;
    background-color: rgba(235, 235, 235, 0.221);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: hsla(197, 3%, 53%, 0.386);
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
    margin: 0 5px 0 15px;
    width: 300px;
    height: 44px;
    line-height: 55px;
    padding-left: 0.7rem;
    z-index: 1;
}

.venue-name-input:hover, .venue-description-input:hover {
    background-color: rgba(228, 228, 228, 0.35);
    border-bottom: #333;
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
  }

.venue-name-input:focus, .venue-description-input:focus {
    background-color: rgba(216, 216, 216, 0.6);
    border-bottom: #136b9b;
    border-bottom-style: solid;
    border-bottom-width: 1.3px;
    caret-color: #136b9b;
    outline: none;
    transition: all 0.3s;
}

#update-venue-name-input {
    height: 2rem;
    padding-top: 0;
    padding-left: 0.7rem;
}

#update-venue-description-input {
    height: 2rem;
    line-height: 1.6rem;
    padding-left: 0.9rem;
}

.venue-name-label {
    position: absolute;
    padding: 1rem 0 0 0.5rem;
    font-size: 0.7rem;
    color: rgb(72, 72, 72);
    font-family: Roboto, sans-serif;
    transition: all 0.3s;
}

.venue-description-label {
    position: absolute;
    padding: 1rem 0 0 11rem;
    font-size: 0.7rem;
    color: rgb(72, 72, 72);
    font-family: Roboto, sans-serif;
    transition: all 0.3s;
}

.shrink-colored {
    color: #136b9b;
    font-size: 0.6rem;
    transform: translateY(-8px);
    transition: all 0.3s;
    z-index: 2;
}

.shrink-uncolored {
    font-size: 0.6rem;
    transform: translateY(-8px);
}

.new-venue-form-container, .update-venue-form-container {
    margin: 0 auto;
}

.new-venue-form-container{
    margin-bottom: 0.5rem;
}

.venue-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    overflow: scroll;
    height: 17.5rem;
    color: #003049;
    /* transform: rotate3d(1, 5, 1, 45deg); */
}

.venue-description-div {
    height: 2rem;
    overflow: scroll;
}

.venue-front-card-buttons-div {
    display: flex;
    justify-content: space-between;
}

.venue-update-button {
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
    align-self: flex-end;
    bottom: 0;
}

.venue-delete-button {
    border: none;
    color: #6d1010;
    text-shadow: 0.2px 0.2px 1px lightgrey, -0.2px 0.2px 1px lightgrey, 0.2px -0.2px 1px lightgrey, -0.2px -0.2px 1px lightgrey;
    background-color: white;
    cursor: pointer;
    align-self: flex-end;
    bottom: 0;
}

.venue-modal-delete-buttons {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 1px 7px 2px;
    /* border-width: none;
    border-style: none;
    border-color: none;
    border-image: none; */
}

#venue-cancel-delete-button {
    color: #6d1010;
    text-shadow: 0.2px 0.2px 1px lightgrey, -0.2px 0.2px 1px lightgrey, 0.2px -0.2px 1px lightgrey, -0.2px -0.2px 1px lightgrey;
}

#venue-confirm-delete-button {
    color: rgb(12, 94, 25);
    text-shadow: 0.2px 0.2px 1px lightgrey, -0.2px 0.2px 1px lightgrey, 0.2px -0.2px 1px lightgrey, -0.2px -0.2px 1px lightgrey;
}

.venue-front-card {
    background-color: white;
    box-shadow: 1px 1px 3px hsl(0, 0%, 60%);
    border-radius: 5%;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 83px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.3rem;
}

.venue-delete-modal {
    background-color: white;
    box-shadow: 1px 1px 3px hsl(0, 0%, 60%);
    border-radius: 5%;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 83px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.3rem;
}

.hidden {
    display: none;
}

.venue-delete-buttons-container {
    display: flex;
    justify-content: space-evenly;
}

.calendar-image, .buyer-image {
    justify-self: center;
}



/* ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
  }
  
::-webkit-scrollbar-thumb {
border-radius: 5px;
background-color: rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} */